In [7]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                'Category':['A','B','C','A','B','C'],
                'Value':np.random.randint(1,5,size=6),
                'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
#Data grouping and aggregation with one column sum
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group by name and Aggregation with one column sum:\n",df1)

 Original DataFrame:
       Name Category  Value  Score
0    Alice        A      3     65
1      Bob        B      2     84
2  Charlie        C      1     82
3    Alice        A      4     93
4      Bob        B      2     67
5  Charlie        C      3     72

 Group by name and Aggregation with one column sum:
       Name  Value
0    Alice      7
1      Bob      4
2  Charlie      4

In [6]:
#Data grouping and Aggregation: with two column sum
df2=df.groupby(('Name'),as_index=False)[['Value','Score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  Value  Score
0    Alice      3    189
1      Bob      6    153
2  Charlie      7    154

In [9]:
#Data grouping and Aggregation: with one column sum
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  Value
0    Alice      7
1      Bob      4
2  Charlie      4

In [11]:
 #Group by 'Name' and calculate multiple aggregations
df4 = df.groupby('Name').agg({
'Value': ['sum', 'mean', 'min', 'max'],
'Score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         Value              Score
          sum mean min max   sum  mean
Name
Alice       7  3.5   3   4   158  79.0
Bob         4  2.0   2   2   151  75.5
Charlie     4  2.0   1   3   154  77.0

In [13]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and count:\n",df5)
df6=df.groupby(('Name')).count()
print("\n Group and count:\n",df6)

 Group and count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

 Group and count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [14]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n Group and display from first:\n",df7)
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
       Name  Value
0    Alice      3
1      Bob      2
2  Charlie      1

 Group and display from first:
         Category  Value  Score
Name
Alice          A      3     65
Bob            B      2     84
Charlie        C      1     82

In [17]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n Group and display from last:\n",df9)
df10=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
       Name  Value
0    Alice      4
1      Bob      2
2  Charlie      3

 Group and display from last:
         Category  Value  Score
Name
Alice          A      4     93
Bob            B      2     67
Charlie        C      3     72

In [18]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display from size:\n",df11)
df12=df.groupby(('Name')).size()
print("\n Group and display from size:\n",df12)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

 Group and display from size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64